<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body
    class="bg-white text-black antialiased dark:bg-gray-900 dark:text-white"
  >
    <div class="mx-auto max-w-3xl px-4 sm:px-6 xl:max-w-5xl xl:px-0">
      <%- include('../partials/header') %>

      <!-- MAIN -->

      <main class="mb-auto">
        <div class="divide-y divide-gray-200 dark:divide-gray-700">
          <div
            class="space-y-2 pt-6 pb-8 md:space-y-5 flex justify-between"
          >
            <h1
              class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14"
            >
              Edit Post
            </h1>
            <button
              class="block px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
            >
              <a href="/admin/posts/<%= post.id %>/delete"
                >Delete Post</a
              >
            </button>
          </div>

          <form
            action="/api/posts/<%= post.id %>/edit"
            method="post"
            class="pt-4"
          >
            <label class="block text-sm">
              <span class="text-gray-700 dark:text-gray-400"
                >Title</span
              >
              <input
                name="title"
                value="<%= post.title
                %>"
                class="block w-full p-1 mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              />
            </label>
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400"
                >Content</span
              >
              <textarea
                name="content"
                class="block w-full p-1 mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              >
<%= post.content
              %></textarea
              >
            </label>
            <input
              type="hidden"
              name="PostId"
              value="<%= post.id %>"
            />
            <button
              type="submit"
              class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
            >
              Update Post
            </button>
          </form>
        </div>
        <div
          class="flex justify-center text-base font-medium leading-6 mt-6"
        >
          <button
            class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
            aria-label="all posts"
          >
            <a href="/admin">Return to Admin →</a>
          </button>
        </div>
      </main>

      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
